<!DOCTYPE html>
<html>
<head>
  <title>About | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <h1>About</h1>
  <p>This is about the Ruby on Rails Tutorials - sample application</p>
</body>
</html>
